* {
  font-family: "Comic Neue", serif, 'Franklin Gothic Medium';
    /* font-family: system-ui, -apple-system, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-weight: 400;
    font-style: normal;
}
 body {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0;
  margin: 0;
  justify-content: stretch;
  background: rgb(228,182,128);
  background: linear-gradient(90deg, rgba(228,182,128,1) 8%, rgba(242,213,167,1) 25%, rgba(255,255,255,1) 63%);
  
} 
 .everythingContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
  align-items: center;
  margin-top: 32px;
  padding: 16px;
  
}
.intro {
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#paraAnnoucement {
    display:flex;
    justify-content: center;
    align-items: center;
}
#humanScore {
    display:flex;
    justify-content: center;
    align-items: center;
}
#computerScore {
    display:flex;
    justify-content: center;
    align-items: center;
}
.buttonContainer {
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.scoreContainer {
  display:flex;
  flex-direction: row;
  gap: 52px;
}

#paraWinner {
    display:flex;
    justify-content: center;
    align-items: center;
}

.end {
    display:flex;
    justify-content: center;
    align-items: center;
}

button {
  align-items: center;
  background-color: #ff9506;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

button:hover:after {
  transform: translate(0, 0);
}

button:active {
  background-color: #ff5e01;
  outline: 0;
}

button:hover {
  outline: 0;
}

@media (min-width: 768px) {
  button {
    padding: 0 40px;
  }
}